<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="StorageAccount" value="DefaultEndpointsProtocol=https;AccountName={your account name here};AccountKey={your account key here};EndpointSuffix=core.windows.net"/>
    <add key="ContainerName" value="largefilecontainer1" /> <!--Your container name-->
    <add key="BlobFileName" value="largefiledir1/largefile1"/> <!--Your BLOB file name-->
    <add key="DownloadURL" value="{your download URL here}"/>
  </appSettings>
</configuration>